/*Body*/
body{
    align-items: center;
    margin: 64px;
}



/*Botones*/

button{
    background-color: black;
    color: #fff;
    padding: 12px 24px;
    border-radius: 18px;
    font-size: 26px;
}


/*Primero*/

.primero{
    display: flex;
}

/*Segundo*/

.segundo{
    padding-top: 22px;
    width: 622px;
    height: 174px;
}

/*Aplicante*/

.flex{
    display: flex;
}

/*Imagenes*/

img{
    justify-content: end;
    width: 1813px;
}

/*Section*/

section{
    justify-content: space-between;
    align-items: center;
    padding-bottom: 200px;
}

/*Palabras*/

h1{
    font-size: 108px;
    font-family: Arial, Helvetica, sans-serif;
}

p{
    font-size: 36px;
}

/*Posicionamiento*/

.centro{
    display: flex;
    justify-content: center;
}