/*Body*/
body{
    margin-bottom: 100px;
    margin-right: 80px;
}


/*Titulo*/
.titulo{
    margin-left: 100px;
    font-size: 50px;
    width: 600px;
    color: black;
}

/*Palabas*/


h2{
    font-size: 50px;
    color: gray;
}
p{
    color: gray;
    font-size: 25px;
}
/*Gallery*/

.galeria{
    justify-content: space-around;
    display: flex;
}

/*Container*/

.container{
    width: 400px;
    flex-direction: column;
}

/*Img*/

img{
    width: 500px;
    height: 445px;
}