/*Body*/

body{
    margin: 20px;
    align-items: center;
    background-color: gray;
    padding-left: 200px;
    padding-right: 200px    ;
}
/*Sections*/

section{
    flex-wrap: wrap;
    display: flex;
    padding-top: 80px;
    justify-content: center;
    justify-content: space-evenly;
    background-color: white;
}
/*Imagenes*/

img{
    width: 400px;
    object-fit: cover;
    border-radius: 20px;
}

/*Botones*/

button{
    background-color: black;
    color: #fff;
    padding: 12px 24px;
    border-radius: 8px;
    font-size: 16px;
}

/*Titulo*/

.titulo{
    font-size: 25px;
    width: 400px;
}

/*Imagenes-separadas*/



/*imagen-arriba*/

.imagen-arriba{

}

.imagen-arriba img{
    height: 500px;

}

/*Blanco*/

.blanco{
    background-color: white;
}